.main-header {
  background: #eff2fe;
  backdrop-filter: blur(10px);
  transition: all 0.4s ease;
  padding: 12px 3px;
  z-index: 1050;
  position: relative;
}

.dropdown-menu {
  z-index: 1060 !important;
  background-color: #fff !important;
}


.main-header.shrink {
  padding: 8px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  animation: slideDown 0.3s ease-in-out;
}



.navbar-brand p {
  font-size: 15px !important;
  color: #1F7088;

}

.navbar-brand p span {
  font-size: 19px;
  color: #1F7088;
}

.logo {
  width: 70px;
  height: 70px;
  transition: height 0.3s ease;
}

.main-header.shrink .logo {
  height: 60px;
  width: 60px;
  margin-top: 5px;
}

.nav-link {
  color: #0d6efd;
  font-weight: 500;
  position: relative;
  padding: 8px 12px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #0a58ca;
}

.custom-link::after,
.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #0d6efd;
  transition: width 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

.custom-link:hover::after,
.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

.btn-primary {
  background-color: #0d6efd;
  border: none;
  font-size: 1rem;
  transition: background-color 0.3s, box-shadow 0.4s, padding 0.4s;
  padding: 10px 20px;
  border-radius: 50px;
}

.btn-primary:hover {
  background-color: #0a58ca;
  box-shadow: 0 4px 12px rgba(13, 110, 253, 0.4);
}

.custom-toggler {
  font-size: 25px;
  color: #0d6efd;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.custom-toggler:focus {
  outline: none;
  box-shadow: none;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    padding-top: 10px;
    text-align: center;
  }

  .navbar-brand p {
    display: none;
  }

  .navbar-brand p {
    font-size: 12px !important;
    color: #1F7088;
    margin-top: 9px !important;

  }

  .navbar-brand p span {
    font-size: 15px;
    color: #1F7088;
  }

  .main-header.shrink p {
    margin-top: 5px !important;
  }

  .main-header.shrink {
    padding: 8px 0;
  }

  .custom-toggler {
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 13px;
  }

  .lang-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
  }

  .lang-button2 {
    display: none;
  }

  .logo {
    width: 65px;
    height: 65px;
    transition: height 0.3s ease;
    margin: 0 !important;
  }
}

@media screen and (max-width: 1366px) {
  .navbar-brand p {
    display: none !important;
  }


  .custom-toggler {
    font-size: 30px;

  }

}
@media screen and (min-width: 1100px) and (max-width: 1280px){

 .navbar-brand p {
    display: block !important;
  }


  .custom-toggler {
    font-size: 30px;

  }

}