.wrapper {
    padding: 60px 20px;
    background-color: #e9f5ff;
    text-align: center;
    animation: fadeIn 1.5s ease-out;
  }
  
  .title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #0A0F24;
    animation: slideIn 1s ease-out;
  }
  
  .contactInfo {
    margin: 40px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    animation: fadeInUp 1s ease-out;
    cursor: pointer;
  }
  
  .infoItem {
    width: 250px;
    margin: 20px 0;
    text-align: center;
    gap: 20px;
    transition: transform 0.3s ease;
  }
  
  .infoItem:hover {
    transform: scale(1.05);
  }
  
  .infoItem h4 {
    font-size: 18px;
    font-weight: bold;
    color: #0A0F24;
  }
  
  .infoItem p {
    font-size: 16px;
    color: #555;
  }
  
  .icon {
    font-size: 36px;
    color: #0056b3;
    margin-bottom: 15px;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .infoItem:hover .icon {
    color: #1c2640;

    transform: scale(1.2);
  }
  
  .form {
    padding: 0 12px; 
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .formRow {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 18px;
    
  }
  
  .inputWrapperHalf {
    flex: 1 1 calc(50% - 50px);
  }
  
  .inputWrapper, .inputWrapperHalf {
    display: flex;
    flex-direction: column;

  }
  
  .input,
  .textarea {
    padding: 14px 20px;      
    font-size: 17px;         
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .textarea {
    min-height: 130px;
    resize: vertical;
  }
  
  .submitButton {
    padding: 14px 28px;
    font-size: 17px;
    background-color: #0056b3 ;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color:rgba(33, 33, 194, 0.867);
  }
  
  
  .mapWrapper {
    margin-top: 50px;
    opacity: 0;
    animation: fadeInUp 1s ease-out 0.5s forwards;
  }

  .errorText {
    color: red;
    font-size: 13px;
    margin-top: 4px;
  }
  
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @keyframes slideIn {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
  }
  
  @keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 28px;
    }
  
    .contactInfo {
      flex-direction: column;
      align-items: center;
    }
  
    .infoItem {
      width: 100%;
      max-width: 400px;
    }
  }
  