.footer {
    background: #0a0f24;
    color: #ffffff;
    padding: 60px 20px 20px;
    font-family: "Segoe UI", sans-serif;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
  }
  
  .logoSection {
    flex: 1 1 250px;
    margin-bottom: 30px;
  }
  
  /* .logo {
    font-size: 28px;
    font-weight: bold;
    color: #00c896;
    margin-bottom: 10px;
  } */
  
  .description {
    font-size: 14px;
    color: #cfcfcf;
  }
  
  .linksSection {
    display: flex;
    gap: 40px;
    flex: 2 1 500px;
    flex-wrap: wrap;
  }
  
  .linksSection h4 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .linksSection ul {
    list-style: none;
    padding: 0;
  }
  
  .linksSection li {
    font-size: 16px;
    margin-bottom: 6px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  /* .linksSection li:hover {
    color: #00c896;
  } */
  
  .subscribeSection {
    flex: 1 1 250px;
    margin-top: 5px;
  }
  
  .subscribeSection h4 {
    margin-bottom: 25px;
    
  }
  
  .subscribeSection form {
    display: flex;
    flex-direction: column;
  }
  
  .subscribeSection input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
  }
  
  .subscribeSection button {
    padding: 10px;
    background: #00c896;
    border: none;
    color: #000;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .subscribeSection button:hover {
    background: #00b184;
  }
  
  .socials {
    margin-top: 20px;
    display: flex;
    gap: 16px;
  }
  
  .socials a {
    font-size: 20px;
    color: #cfcfcf;
    transition: color 0.3s ease;
  }
  
  .socials a:hover {
    color: #00c896;
  }
  
  .bottomBar {
    text-align: center;
    padding-top: 30px;
    font-size: 13px;
    color: #888;
  }
  