.wrapper {
  padding: 35px 20px;
  background-color: #fffdfd;
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #070A17;
}

.swiper {
  padding: 40px 0;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  width: 170px;
  height: 80px;
  object-fit: contain;
  background-color: #fffdfd;
  padding: 5px;
  filter: grayscale(0%);
  transition: filter 0.3s ease;
}

.slide img:hover {
  filter: grayscale(50%);
  scale: calc(1.1);

}

.partner13 {
  background-color: black !important;
  padding: 5px;
  border-radius: 6px;
}

.partner9 {
  width: 250px !important;
}

.wrapper button {
  background-color: #172350 !important;
  color: #fffdfd;
  border-radius: 30px !important;
  border: 1px solid #070A17;
  padding: 13px 30px !important;
  cursor: pointer;
  margin-top: 30px !important;

}

.wrapper button:hover {
  background-color: #fffdfd !important;
  color: #070A17 !important;
  border: 1px solid #070A17;
  font-weight: 600 !important;
}

@media (max-width: 768px) {
  .title {
    font-size: 28px;
  }

  .slide img {
    width: 130px;
    height: 60px;
  }

  .partner9 {
    width: 180px !important;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 24px;
  }

  .slide img {
    width: 110px;
    height: 50px;
  }

  .partner9 {
    width: 160px !important;
  }
}