.swiper-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);

}
.slider-wrapper {
  width: 100%;
  height: 87vh;
  position: relative;
  overflow: hidden;
}

.swiper-slide-container {
  width: 100%;
  height: 87vh;
  position: relative;
  overflow: hidden;
}

.swiper-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.7));
  z-index: 1;
}

.swiper-text-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;
  padding: 10px 20px;
  width: 100%;
  max-width: 1000px;
}

.swiper-text-content h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  margin-bottom: 20px;
  line-height: 1.3;
}

.swiper-text-content p {
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  margin-bottom: 25px;
}

.swiper-button {
  padding: 12px 30px;
  background-color: #003D93;
  color: #fff;
  height: 55px;
  border-radius: 30px;
  font-weight: 400;
  font-size: clamp(1.1rem, 2vw, 1rem);
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .slider-wrapper {
    height: 70vh;
  }

  .swiper-slide-container {
    height: 70vh;
  }

  .swiper-img {
    height: 70vh;
  }

  .swiper-text-content h1 {
    font-size: 1.5rem;
  }

  .swiper-text-content p {
    font-size: 0.9rem;
  }

  .swiper-button {
    font-size: 0.9rem;
    padding: 10px 20px;
  }
}

